header {
    background-color: rgb(22, 55, 103);
    display: grid;
    margin: 0;
    padding: 0;
    color: white;
}
img {
    filter: brightness(0) invert(1);
    padding: 5px;
    margin: 5px;
    width: 200px;
}
.citation {
    font-style: italic;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}
a {
    color: white;
}
a:hover {
    font-style: italic;
}