@media screen and (min-width:0) and (max-width:600px){
    header {
        background-color: rgb(22, 55, 103);
        display: flex;
        flex-direction: column  ;
        margin: 0;
        padding: 0;
        color: white;
    }
    img#efrei {
        filter: brightness(0) invert(1);
        padding: 5px;
        margin: 5px;
        width: 200px;
    }
    .citation {
        font-style: italic;
        text-align: center;
        padding: 10px;
        font-size: 1.2em;
    }
    a {
        color: white;
    }
    a:hover {
        font-style: italic;
    }
}


@media screen and (min-width: 600px) and (max-width: 768px) {
    header {
        background-color: rgb(22, 55, 103);
        display: flex;
        margin: 0;
        padding: 0;
        color: white;
    }
    img#efrei {
        filter: brightness(0) invert(1);
        padding: 5px;
        margin: 5px;
        width: 200px;
    }
    .citation {
        font-style: italic;
        text-align: center;
        padding: 10px;
        font-size: 1.2em;
    }
    a {
        color: white;
    }
    a:hover {
        font-style: italic;
    }
}

@media screen and (min-width: 768px) {
    header {
        background-color: rgb(22, 55, 103);
        display: grid;
        margin: 0;
        padding: 0;
        color: white;
    }
    img#efrei {
        filter: brightness(0) invert(1);
        padding: 5px;
        margin: 5px;
        width: 200px;
    }
    .citation {
        font-style: italic;
        text-align: center;
        padding: 10px;
        font-size: 1.2em;
    }
    a {
        color: white;
    }
    a:hover {
        font-style: italic;
    }
    .images{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 300px;
    }
    .images img{
        margin: 50px;
        border-radius: 20%;
    }
}

@media print {
    header {
        background-color: white;
        display: flex;
        margin: 0;
        padding: 0;
        color: white;
    }
    img#efrei {
        padding: 5px;
        margin: 5px;
        width: 200px;
    }
    .citation {
        font-style: italic;
        text-align: center;
        padding: 10px;
        font-size: 1.2em;
    }
    a {
        color: white;
    }
    a:hover {
        font-style: italic;
    }
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
caption{
    font-weight: bolder;
    
}

/* Style de base pour le tableau */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* En-têtes du tableau */
thead th {
  background-color: #333;
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-weight: bold;
}

/* Cellules du tableau */
td, th {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

/* Lignes du corps du tableau */
tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Dernière ligne */
tbody tr:last-child {
  border-bottom: 2px solid #333;
}

/* Alignement du texte */
td {
  text-align: left;
}

/* Pour les nombres, alignement à droite */
td.number {
  text-align: right;
}

/* Cellule de pied de tableau */
tfoot td {
  background-color: #f8f8f8;
  font-weight: bold;
  padding: 12px 15px;
}